@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --black: black;
  --white: white;
  --20-shade-of-grey: #eeeeee;
  --30-shade-of-grey: #d9d9d9;
  --50-shade-of-grey: #626262;
  --40-shade-of-grey: #c4c4c4;
  --close-to-black: #222;
}

body {
  background-color: var(--20-shade-of-grey);
  color: var(--black);
  font-size: 16px;
  line-height: 1.6em;
}

@font-face {
  font-family: 'Quark';
  src:
    url('/fonts/quark/Quark-Bold.otf') format('opentype'),
    url('/fonts/quark/Quark-Light.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/regular/Lato-Regular-15.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.bg-custom-bg1 {
  background-color: #eeeeee;
}

.bg-custom-bg2 {
  background-color: #d7ecf1;
}

.bg-custom-bg3 {
  background-color: #efefef;
}

.bg-custom-bg4 {
  background-color: #e5ebed;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@scroll-timeline img-timeline {
  source: auto;
  orientation: vertical;
}

.lazy-img {
  animation: fadeIn 1s ease-out;
  animation-timeline: img-timeline;
}
